.item {
  display: flex;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 2px 0px 6px rgb(0 0 0 / 12%), -2px 0px 6px rgb(0 0 0 / 14%),
    0px 2px 6px rgb(0 0 0 / 20%);
  padding: 4px 10px;
  align-items: center;
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a0a0a0;
}

.stgreen {
  background-color: #00a000;
}

.stred {
  background-color: #a00000;
}

.avatar {
  border-radius: 6px;
  outline: 1px solid rgba(32, 32, 32, 0.3);
}

.name {
  font-size: 20px;
  color: rgba(32, 32, 32, 0.8);
}
